# ===============================================
# Archivos y directorios de pruebas.
# ===============================================
/test
test.py

# ===============================================
# Archivos y directorios de entornos virtuales.
# ===============================================
*.env
/.venv

# ===============================================
# Directorio de caché.
# ===============================================
lib/__pycache__

# ===============================================
# Archivos personales de prueba
# ===============================================
output.xlsx
file_name.xlsx